doctype html
html(lang='en')
  head
    title Hashes
    meta(charset='utf-8')
    link(rel='stylesheet', href='./css/fonts.css')
    link(rel='stylesheet', href='./css/default.css')
    link(rel='icon', type='image/png', href='./images/pound.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
  body
  .page
    h1 Hashes
    form(method='post')
      label(for='inputString') Input string:
      input#inputString(type='text', name='inputString', placeholder='input string here', value=input_string, style='width: 50%')
      input(type='submit', value='Submit')
    h2 Full MD5 hash
    table
      tr
        th Full MD5 string (32)
        td 
          span#full_md5(style='cursor: default') !{ span_title_full_md5 }
          svg.copy(title='copy', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${full_md5}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
    h2 Alternate case
      small with forced lower, upper and numbers
    table
      tr
        th Type
        th Hash string
      tr
        th Alternate-6
        td 
          span#alt_6(style='cursor: default') !{ span_title_alt_6 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${alt_6}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
      tr
        th Alternate-8
        td 
          span#alt_8(style='cursor: default') !{ span_title_alt_8 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${alt_8}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
      tr
        th Alternate-10
        td 
          span#alt_10(style='cursor: default') !{ span_title_alt_10 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${alt_10}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
      tr
        th(style='text-decoration: underline') Alternate-12
        td 
          span#alt_12(style='cursor: default') !{ span_title_alt_12 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${alt_12}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
      tr
        th Alternate-16
        td 
          span#alt_16(style='cursor: default') !{ span_title_alt_16 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${alt_16}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
    h2 Alternate case and symbols
      small with unforced lower, upper and numbers
    table
      tr
        th Type
        th Hash string
      tr
        th Alternate-Symbols-16
        td 
          span#alt_sym_16(style='cursor: default') !{ span_title_alt_sym_16 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${alt_sym_16.replace(/'/g, "\\'")}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
      tr
        th Alternate-Symbols-32
        td 
          span#alt_sym_32(style='cursor: default') !{ span_title_alt_sym_32 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${alt_sym_32.replace(/'/g, "\\'")}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
    h2 Hash table
      small with unforced lower, upper and numbers
    table
      tr
        th Type
        th !{ hash_table.n1_month.heading }
        th !{ hash_table.current_month.heading }
        th !{ hash_table.p1_month.heading }
      tr
        th Alt-Sym-8
        td(style='backdrop-filter: brightness(0%)') 
          span#hash_table_n1_month_hash_8(style='cursor: default; text-decoration: line-through') !{ hash_table.n1_month.hash_8 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${hash_table.n1_month.hash_8.replace(/'/g, "\\'")}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
        td 
          span#hash_table_current_month_hash_8(style='cursor: default') !{ hash_table.current_month.hash_8 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${hash_table.current_month.hash_8.replace(/'/g, "\\'")}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
        td(style='backdrop-filter: brightness(0%)') 
          span#hash_table_p1_month_hash_8(style='cursor: default; text-decoration: line-through') !{ hash_table.p1_month.hash_8 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${hash_table.p1_month.hash_8.replace(/'/g, "\\'")}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
      tr
        th Alt-Sym-16
        td(style='backdrop-filter: brightness(0%)') 
          span#hash_table_n1_month_hash_16(style='cursor: default; text-decoration: line-through') !{ hash_table.n1_month.hash_16 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${hash_table.n1_month.hash_16.replace(/'/g, "\\'")}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
        td 
          span#hash_table_current_month_hash_16(style='cursor: default') !{ hash_table.current_month.hash_16 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${hash_table.current_month.hash_16.replace(/'/g, "\\'")}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
        td(style='backdrop-filter: brightness(0%)') 
          span#hash_table_p1_month_hash_16(style='cursor: default; text-decoration: line-through') !{ hash_table.p1_month.hash_16 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${hash_table.p1_month.hash_16.replace(/'/g, "\\'")}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
      tr
        th Alt-Sym-32
        td(style='backdrop-filter: brightness(0%)') 
          span#hash_table_n1_month_hash_32(style='cursor: default; text-decoration: line-through') !{ hash_table.n1_month.hash_32 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${hash_table.n1_month.hash_32.replace(/'/g, "\\'")}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
        td 
          span#hash_table_current_month_hash_32(style='cursor: default') !{ hash_table.current_month.hash_32 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${hash_table.current_month.hash_32.replace(/'/g, "\\'")}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
        td(style='backdrop-filter: brightness(0%)') 
          span#hash_table_p1_month_hash_32(style='cursor: default; text-decoration: line-through') !{ hash_table.p1_month.hash_32 }
          svg.copy(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', onclick=`navigator.clipboard.writeText('${hash_table.p1_month.hash_32.replace(/'/g, "\\'")}');`)
            title Copy
            path(fill='currentColor', d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z')
