doctype html
html(lang='en')
  include head.pug
  +head('QR Code', 'qrcode.png')
  body
    .page
      h1 QR Code
      div
        .inline-block
          h3 Size
            small width and height in pixels
          input#size(type='number', value=256, min=29, max=546)
        .inline-block
          h3 Error Correction
          input#errL(type='radio', name='err', value='L')
          label(for='errL') L (7%)
          input#errM(type='radio', name='err', value='M', CHECKED)
          label(for='errM') M (15%)
          input#errQ(type='radio', name='err', value='Q')
          label(for='errQ') Q (25%)
          input#errH(type='radio', name='err', value='H')
          label(for='errH') H (30%)
        .inline-block
          h3 Dark
            small Dark colour and alpha transparency
          label(for='colD') Colour:
          input#colD(type='color', value='#000000')
          label(for='colDA' style='margin-left:16px;') Alpha:
          input#colDA(type='number', value=255, min=0, max=255)
        .inline-block
          h3 Light
            small Light colour and Alpha transparency
          label(for='colL') Colour:
          input#colL(type='color', value='#ffffff')
          label(for='colLA' style='margin-left:16px;') Alpha:
          input#colLA(type='number', value=255, min=0, max=255)
      div
        .block
          h3 Data string
          textarea#dataString(style='width: 100%', placeholder='Enter data string here...')
          input(type='submit', value='Generate QR Code', onclick='generateQRCode();')
      div
        .inline-block(style='background:#808080; color:#ffffff;')
          h3 QR Code
          img#qrCode(src='./qr-code/qrcode')
    script.
      // Generate QR Code
      function generateQRCode() {
        try {
          // Read parameters
          console.log('Reading parameters...');
          const pObj = {
            chs: document.getElementById('size').value,
            chl: document.getElementById('dataString').value,
            chld: document.querySelector('input[name="err"]:checked').value,
            chcd: document.getElementById('colD').value + Number(document.getElementById('colDA').value).toString(16).padStart(2, '0'),
            chcl: document.getElementById('colL').value + Number(document.getElementById('colLA').value).toString(16).padStart(2, '0'),
          };
          console.log({ pObj });
          // Change QR code image source
          document.getElementById('qrCode').src = `./qr-code/qrcode?chs=${pObj.chs}&chl=${encodeURIComponent(pObj.chl)}&choe=${pObj.choe}&chld=${pObj.chld}&chcd=${encodeURIComponent(pObj.chcd)}&chcl=${encodeURIComponent(pObj.chcl)}`;
        } catch (error) {
          console.error(error);
        }
      }
